*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
  }

  .app {
    height: 100vh;

    .sections {
      width: 100%;
      height: calc(100vh - 100px);
      background-color: lightslategray;
      position: relative;
      top: 100px;

      > * {
        width: 100vw;
        height: calc(100vh - 100px);
      }
    }
  }